<div class="row">
  <div class="col-md-8">
    <div class="card">
      <%= render partial: '/shared/cards/form_header',
        locals: {title: t('.title'), instance: @report} %>
      <div class="card-content">
        <%= render 'form' %>
      </div>
    </div>
  </div>

  <%= render partial: '/shared/cards/editor', locals: {user: @report.user} %>
</div>
