<div class="row text-center">
  <div id="jcrop"></div><br>
	<%= content_tag(:h3, t('preview'), class: 'title') %>
	<canvas id="canvas" width="250" height="250"></canvas><br>
  <%= content_tag(:button, t('done'), class: 'btn btn-primary', data: {dismiss: 'modal'}) %>
</div>
