<div class="col-lg-9 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="orange">
      <i class="material-icons">search</i>
    </div>
    <div class="card-content">
      <%= content_tag(:p, search_by_label(User, :name, :email), class: 'category') %>
      <%= form_for(:user, url: users_path, method: :get) do |f| %>
      <div class="col-lg-10 col-md-8 col-sm-8 no-form-group">
        <%= f.text_field :search, class: 'form-control' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
