<div class="row">
  <div class="col-md-12">
    <div class="card" style="margin: 0;">
      <div class="card-content">
        <% breadcrumbs.each do |bc| %>
        <%= bc.to_html %>
        <% end %>
      </div>
    </div>
  </div>
</div>
