<%= form_for @report, html: { class: 'form' } do |f| %>
  <div id="fields_container"></div>

  <%= f.submit t('save'), class: 'btn btn-primary pull-right remove-on-show' %>
  <%= link_to t(:add_fields_row), '#', class: 'btn btn-white pull-right remove-on-show', onclick: 'addFieldsToForm();' %>
  <div class="clearfix"></div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    addFieldsToForm();
  });

  function addFieldsToForm(){
    // html to be rendered (1 more row of fields for the form)
    to_render = "<%= j render 'form_fields_group' %>"
    to_render = to_render.replace(new RegExp("detail_replace", 'g'), "detail_"+makeId(8));
    $("#fields_container").append(to_render);

    // init datepicker
    initDatePicker();
    updateInvoiceData();
  }

  function updateMetric(obj){
    presentation = $(obj).find(":selected").attr("presentation");
    // find numeric values inside the presentation string
    matches = presentation.match(new RegExp(/\d+/, "g"));
    if (matches == null)
      return;

    value = 1;
    for (var i = 0; i < matches.length; i++)
      value *= matches[i];
    $(obj).parents(".fields-group").find(".metric").val(value);
  }

  function updateBulk(obj){
    // get the container of the fields and search for the fields 'metric', 'units' and 'tare'
    container = $(obj).parents(".fields-group");
    metric = container.find(".bulk-calculator.metric");
    units = container.find(".bulk-calculator.units");
    // calculate the bulk quantity and assign it
    bulk = (metric.val() * units.val());
    container.find(".bulk").val(bulk);
  }

  function updateInvoiceData(){
    folios = $('.invoice_folio');
    for (var i = 0; i < folios.length; i++) {
      if (folios[i].value == "") {
        folios[i].value = folios[0].value;
      }
    }

    dates = $('.invoice_date');
    for (var i = 0; i < dates.length; i++) {
      if (dates[i].value == "") {
        dates[i].value = dates[0].value;
      }
    }
  }
</script>
