<div class="card" style="margin: 0;">
  <div class="card-content">
    <%= link_to ProductCategory.model_name.human(count: 2), product_categories_path %> >

    <% breadcrumbs = product_categories_breadcrumbs(@product_category) %>
    <% indx = breadcrumbs.size %>
    <% while indx > 0 %>
      <% indx -= 1 %>
      <%= breadcrumbs[indx] %> >
    <% end %>
  </div>
</div>
