<div class="col-md-4">
  <div class="card card-profile">
    <div class="card-avatar">
      <%= image_tag user.avatar_url(:thumb), class: 'img' %>
    </div>

    <div class="content">
      <%= content_tag(:h6, t('.editor'), class: 'category text-gray') %>
    </div>
  </div>
</div>
