<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card card-stats">
    <%= link_to url do %>
      <div class="card-header" data-background-color="blue">
        <i class="material-icons">add_circle_outline</i>
      </div>
    <% end %>
    <div class="card-content">
      <!-- invisible, when needen remove the style option -->
      <p class="category" style="color: rgba(0,0,0,0)">.</p>
      <h3 class="title" style="color: rgba(0,0,0,0)">.</h3>
    </div>
  </div>
</div>
