function selectOption(label, value, attrs = null){
  option = "<option value=\""+value+"\" "+attrs+" >"+label+"</option>"
  return option;
}

function makeId(n) {
  if (n == null) n = 22;
  text = "";
  possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
  // generate random string with 'n' number of characters
  for (var i = 0; i < n; i++)
    text += possible.charAt(Math.floor(Math.random() * possible.length));

  return text;
}

function initDatePicker(){
  $(".datepicker").datepicker({
    language: "es",
    autoclose: true,
    format: 'dd/mm/yyyy'
  });
}
