<div class="fields-group">
  <!-- fields related to product information -->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group label-floating">
        <%= label_tag :product, t('.product'), class: 'control-label' %>
        <%= text_field_tag 'product_replace[product]', nil, list: :products_list,
          class: 'form-control product_replace', maxlength: 220, required: true %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group label-floating">
        <%= label_tag :bulk, t('.bulk'), class: 'control-label' %>
        <%= number_field_tag 'product_replace[bulk]', nil, class: 'form-control',
          min: 0.01, step: 0.01, required: true %>
      </div>
    </div>
    <div class="col-md-2">
      <span class="btn btn-danger btn-round btn-just-icon pull-right"
            onclick="$(this).parents('.fields-group').remove();">
        <i class="material-icons">close</i>
      </span>
    </div>
  </div>
  <!-- fields related to product information -->

  <hr data-border-color="purple">
</div>
