/* Important to hide a second scroll bar that appears for the wrapper */
html{
  overflow: hidden !important;
}

/* Remove margin and padding for automated .form-group divs created by
Material Dashboard.js template */
.no-form-group .form-group{
  margin: 0 !important;
  padding: 0 !important;
}

.img-raised {
  box-shadow:
    0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.hidden{
  display: none !important;
}

.pointer{
  cursor: pointer !important;
}

img.xs-avatar{
  max-width: 60px;
  max-height: 60px;
}

img.sm-avatar{
  max-width: 75px;
  max-height: 75px;
}

img.md-avatar{
  max-width: 90px;
  max-height: 90px;
}

.breadcrumb{
  background-color: rgba(0,0,0,0);
}

.card-nav-tabs input.search{
  border: none;
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  padding-left: 10px;
  padding-right: 10px;
}

.card-header .nav-tabs-wrapper h4.title{
  padding-left: 1.8em;
}

hr[data-border-color="purple"]{
  border: #9c27b0 0.5px solid;
}

hr[data-border-color="green"]{
  border: #4caf50 0.5px solid;
}

hr[data-border-color="orange"]{
  border: #ff9800 0.5px solid;
}

hr[data-border-color="blue"]{
  border: #00bcd4 0.5px solid;
}

hr[data-border-color="red"]{
  border: #f44336 0.5px solid;
}

@media (min-width: 992px){
  .card-nav-tabs input.search{
    width: 80%
  }
}

@media (min-width: 1200px){
  .card-nav-tabs input.search{
    width: 92%
  }
}
