<div class="row">
  <div class="col-md-8">
    <div class="card">
      <%= render partial: '/shared/cards/form_header',
        locals: {title: @category, instance: @category} %>
      <div class="card-content">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
